@charset "UTF-8";

.error {
	font-family: 'Lato', Calibri, Ariel, sans-serif;
	font-size: 24px;
	text-align: center;
}

a {
	font-family: 'Lato', Calibri, Ariel, sans-serif;
	background-color: #b0b0ff;
	color: white;
	padding: 0.01em 0.1em;
	text-decoration: none;
	font-weight: 400;
	font-size: 24px;
	border-radius: 5px;
	text-transform: uppercase;
	line-height: 1.5;
	text-align: center;
}